@tailwind base;
@tailwind components;
@tailwind utilities;

/* paleta do projeto */
:root{
  --base:#ffffff; --teal:#348e91; --tealDark:#1c5052; --deep:#213635; --darkest:#0a0c0d;
}
body{ background: var(--darkest); color: var(--base); }
